





.footer {
    border-top: 2px solid var(--hover-color);
    background-color: var(--background-color);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-info-container{
    background-color: var(--primary-color);
    width: 100vw;
}
.footer-info {
    display: flex;
    justify-content: space-between;
   
    
}
.footer-info-text{
    margin-top: 20px;
}
.footer-info-text h3 {
    text-transform: uppercase;
}
.footer-info-text h4 {
    cursor: pointer;
}
.footer-info-text > p {
    cursor: pointer;
}
.footer-info-text-qr{
    display: flex;
}
.footer-info-text-qr img {
    width: 50px;
    cursor: pointer;
}
.footer-info-text-qr-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-info-text-qr-app span{
    cursor: pointer;
}

.footer-law{
    display: flex;
    justify-content: center;
}
.footer-law span {
    margin: 20px 10px 10px 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;

}
.footer-law span:hover{
    color: var(--hover-color);
}
.footer-img{
    width: 200px;
    margin: 0px auto;
    display: flex;
}
.footer-design{
    text-transform: uppercase;
    display: flex;
    margin: 10px auto;
}













